.vscode
Experts/Examples
Experts/Free Robots
Experts/Advisors
Files
Images
Include
Indicators
Libraries
Logs
Profiles
Scripts
Services
Shared Projects
experts.dat
*.ex5
Experts/erika_moving_average.mq5
Experts/erika.mq5
Experts/Test_Buy_2.mq5
